@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #F1F6F9;
}

.body{
    background-color: #222831;
    height: 100vh;
    overflow: auto;
}

.desktop{
    visibility: visible;
    pointer-events: all;
    position: relative;
}

.mobile{
    visibility: hidden;
    pointer-events: none;
    position: fixed;
}

@media screen and (max-width: 550px) {
    .desktop{
        visibility: hidden;
        pointer-events: none;
        position: fixed;
    }
    
    .mobile{
        visibility: visible;
        pointer-events: all;
        position: relative;
    }
    
}
