.user-notes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2% 7%;
    padding-top: 5%;
}

.page-title{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 550px){
    .user-notes{
        padding-top: 16%;
    }
}